<% if signed_in? %>
<div class = "col-md-6 ovr-hidden">

<div class="float-left">
<h1> Sell Land</h1>
    <%= form_for(@micropost, html: { multipart: true }) do |f| %>
  <%=f.label :Towns %>
<%=f.collection_select :town_id,Town.all,:id,:name, prompt:true %>
<% if @micropost.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@micropost.errors.count, "error") %>.
    </div>
    <ul>
    <% @micropost.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
 <div class ="field">
  <%=f.label :region %>  <br/>
  <%=f.text_field :region %>
 </div>
<div class ="field">
  <%=f.label :price %><br/>
  <%=f.text_field :price %> 
 </div>
<div class ="field">
  <%=f.label :type %><br/>      
 <%= f.text_field :details,placeholder: "Freehold/leasehold"%> 
 </div>

 <span class="picture">
 <%=f.label :picture %><br/>
    <%= f.file_field :picture,accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<div class ="btn btn-primary">
  <%=f.submit "Post" %><br/>
 </div>



<%end%>
</div>
<div class="feed float-right">
<h1> Microposts</h1>
 <div class="col-md-6" style="padding-left:750px,">
      <%= render 'shared/feed' %>
   
    </div>
</div>
 </div>
<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>

<% else %>

<body>
  <h1 style="color:green">Hi :-)</h1>
<p style="font-size:160%" ><b> Welcome to the Land Online Business.</b><br>Please sign up if you are a new user
  </p>

<%= link_to "Sign up now!", '/users/new', :class => "signup_button round" %>

<%end%>
