
<h1>System Reports</h1>
<table>
		
	<tbody>
		
		<tr>
			<td><%= link_to 'Land available according to region and price', region_price_path,aff:" "  %> </td>
		</tr>
		</tr>
		<td>
			<%= link_to 'Types of land available', land_type_path,aff:" "  %> 
		</td>
		</tr>
		<tr>
		<td>
			<%= link_to 'Land available according to region and acre', region_acre_path ,aff:" " %>   
		</td>
		</tr>
		<tr>
		<td>
			<%= link_to 'Land bookings made by potential buyers', land_booking_path,aff:" "  %> 
		</td>
		</tr>
		<tr>
		<td>
			<%= link_to 'Land requests made by potential buyers', requests_path,aff:" "  %>
		</td>
		<tr>
		<td>
		<%= link_to 'Land pictures uploaded by sellers', land_picture_path ,aff:" " %>
		</td>
		<tr>
	</tbody>
</table>
